* {
  border-box: box-sizing; }

body {
  height: 585px;
  width: 1425px;
  background-color: #F5F5F1;
  margin: 0px;
  display: table-header-group; }

.header {
  text-align: left;
  margin: 0px auto;
  box-sizing: border-box;
  height: 80px;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #FFFFFF;
  border: white solid;
  border-bottom-color: lightgray; }

.logo {
  width: 100%;
  height: 100%;
  color: #f45800;
  margin-top: 2px;
   font-family: "Graphik Web","Arial","Helvetica",sans-serif;
   margin:19px;
   }

.ebox1 {
  width: 1389px;
  padding-left: 18px;
  padding-right: 18px;
  height: 80px; }

.ebox2 {
  float: left;
  width: 75px;
  margin-right: 20px; }

ul.account {
  float: right;
  margin: 0;
  padding: 0;
  width: 300px;
  margin-right: 8px;
  font-size: larger; }

.logo {
  font-size: 41px;
  color: #F98645; }

.sell {
  border: 1px solid transparent;
  height: auto;
  margin-top: 10px;
  display: block;
  float: left;
  padding: 8px;
  line-height: 16px;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
  color: #0192B5;
  font-size: 17px; }

li {
  float: left;
  position: relative;
  list-style: none;
  border: 0 none;
  margin: 0;
  padding: 3px; }

.button {
  border: 1px solid;
  margin-top: 8px;
  /* font-size: 30px; */
  color: #0192B5;
  border-radius: 5px;
  height: 36px;
  width: 69px; }

.can-header {
  border-bottom: 1px solid #E1E3DF;
  background-color: #FFF; }

.can1 {
  width: 1425px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: left;
  margin: -2px auto; }

.list {
  line-height: 15px;
  text-decoration: none;
  padding: 0 3px;
  color: #777;
  font-size: 15px;
  margin-right: 20px;
  padding-top: 9px;
  margin-left: 13px;
  font-family: "Graphik Web","Arial","Helvetica",sans-serif; }

.canbody {
  padding: 0px;
  margin-left: 1;
  margin-top: 0px;
  margin-left: -22px;
  width: 1425px;
  background: #FFF;
  height: 40px;
  margin: 0px; }

.innersearchbox {
  position: relative;
  float: left;
  width: 35%; }

.search {
  padding: 4px;
  height: 20px;
  width: 393px;
  margin: 15px;
  margin-right: -5px; }

.btt {
     line-height: 17px;
    height: 33px;
    width: 82px;
    background-color: #3cb1cb;
    border-radius: 4px;
    border-style: solid;
    border-width: -1px;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    color: white;
    font-family: "Graphik Web","Arial","Helvetica",sans-serif;
    padding: 5px;
    border-color: teal;
   }

div.move {
  float: right; }

.sign {
  font-size: 18px;
  color: #4B92B5;
  margin-top: 7px;
  margin-left: 6px; }

.box {
  margin: 20px auto;
  max-width: 1145px;
  height: 2050px;
  float: right; }

.space {
  padding: 5px 5px 20px;
  white-space: nowrap;
  float: left;
  overflow: hidden; }

.box1 {
  padding: 5px 5px 20px;
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  position: relative; }

.box1:hover .hambox {
  display: block; }

img {
  width: 246.75px;
  height: 205.47px;
  margin-bottom: -5px;
  border-radius: 4px; }

.box2 {
  width: 248px;
  height: 55px;
  background-color: #FFFFFF; }

.side {
  margin: 27px 5px 0px 35px;
  height: 432px;
  float: left;
  width: 232px;
  border: solid;
  background: white;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  margin: 28px 44px 12px;
  font-size: 13px;
  margin-right: 0px;
  margin-left: 58px; 
margin-top: 61px;
}


.list1 {
  margin: 0px;
  padding-left: 0px;
  color: #444; }

.list2 {
  display: list-item;
  text-align: -webkit-match-parent;
  padding-bottom: 3px;
  padding-left: 6px;
  font-size: 13px;
  width: 206px;
  height: 20px; }

span {
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
  color: #0192B5;
  list-style: none;
  line-height: 1.4; }

span.money {
  color: #78c042; }

.float {
  margin: 0px; }

.moneybox {
  margin: 0px; }

.title {
  text-overflow: ellipsis;
  margin-top: 0px;
  overflow: hidden;
  width: 97%;
  width: 97%;
  font-size: 14px;
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
  border: solid;
  border-color: white;
  border-color: white; 
  color:black;
}


.shop {
  margin: 0px;
  color: #9A9A9A;
  font-size: 14px;
  margin-bottom: 2px;
  overflow: hidden;
  margin-top: 11px;
  text-overflow: ellipsis;
  white-space: nowrap; }

.Etsy {
  width: 75px;
  height: 80px;
  font-family: "Graphik Web","Arial","Helvetica",sans-serif; }

form {
  width: 473.55;
  height: 55px; 
      background: white;
    border-bottom: solid 3px;
    border-color: lightgrey;
    margin-bottom: 0px;
    height: 76px;

}

.cart {
  display: block;
  margin: 0 auto;
  float: none;
  height: 32px;
  width: 24.77px;
  line-height: 32px;
  text-align: center;
  display: block;
  margin: -25px auto;
  float: right;
  height: 32px;
  width: 24.77px;
  line-height: 32px;
  text-align: center;
  margin-right: 31px; }

.cartbox {
  width: 155px;
  height: 29px; }

.hambox {
  position: absolute;
  right: 10px;
  width: 62px;
  height: 25px;
  display: none;
  margin-top: 6px; }

.pic {
  width: 26px;
  height: 25px;
  float: right; }

.ham {
  width: 20px;
  height: 20px;
  border: solid 1px;
  background: white;
  border-color: white; }
  .ham:hover {
    background: lightgray; }

.ham2 {
  width: 20px;
  height: 20px;
  border: solid 1px;
  background: white;
  float: right;
  border-color: white; }
  .ham2:hover {
    background: lightgray; }

.tit {
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
      margin-top: 33px;
    text-align: initial;
    margin-left: 320px;
}

  a{
    text-decoration: none;
  }
  h5{
        margin: 0px;
    position: absolute;
    margin-left: 62px;
margin-top: 36px;
     font-family: "Graphik Web","Arial","Helvetica",sans-serif; }
     color:#444444;
}



